{% include template_name+'/header.html' %} 

<br>
<section class="container-fluid bg-space" style="margin-top:-10px;" id="section2">
	<div class="container">
		<h1 class="v-center v-center1">{{category_name}}</h1>
		<center><hr class="hrTitle"></center>
		<br>

	  	<div class="row">
	  		{%for post in posts%}
	  		<a href="/{{post.slug}}" target="_blank" class="col-xs-12 col-sm-12 indexBack" style="margin-bottom:10px;">
					<div class="col-xs-12 col-sm-3 col-md-3 border" style="padding: 0px;">
					    	<img src="{{post.feature_image}}" class="img-responsive" style="padding:0px;width:100%">
					</div>
					<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 border" style="padding: 10px;padding-left:30px">
					   
					    	<h4 class="mytitle">
					    		{{post.title}}
					    	</h4>
					    	<p class="" style="margin-top:5px;text-align:left;color:#000;font-size:16px">
					    		{{post.description|striptags|truncate(300)}}
					    	</p>
					</div>
				</a>
			{%endfor%}
		</div>
	</div>
</section>
<center>
                        <ul class="pagination pagination-sm">
                        {% if pagin > 1 %}
	                        {% if pagin < 8 %}
			                    	{% for page in range(1,pagin+1) %}
				                    	{% if page == current_pagin %}
				                    		<li class="active">
				                    			<a href="/admin/{{page}}">
				                    				{{page}}
				                    			</a>
				                    		</li>
				                    	{%else%}
				                    		<li>
				                    			<a href="/admin/{{page}}">
				                    				{{page}}
				                    			</a>
				                    		</li>
				                    	{%endif%}
									{%endfor%}
								</ul>
							{%else %}
								<li class="{%if current_pagin==1 %}active{%endif%}">
									<a href="/admin/1">1</a>
								</li>
								<li class="{%if current_pagin==2 %}active{%endif%}">
									<a href="/admin/2">2</a>
								</li>
								<li class="{%if current_pagin==3 %}active{%endif%}">
									<a href="/admin/3">3</a>
								</li>
								<li class="{%if current_pagin==4 %}active{%endif%}">
									<a href="/admin/4">4</a>
								</li>
								<li>
									<a href="#">...</a>
								</li>
								{% for page in range(pagin-4,pagin+1) %}
									{% if current_pagin == page%}
								  <li class="active">
								  	<a href="/admin/{{page}}">
								  		{{page}}
								  	</a>
								  	</li>
								 {%else%}
								 	<li>
								  	<a href="/admin/{{page}}">
								  		{{page}}
								  	</a>
								  	</li>
								 {%endif%}
								{%endfor%}
							{%endif%}
						{%endif%}
						</ul>
						</center>
{% include template_name+'/footer.html' %} 