{% include template_name+'/header.html' %} 
<link rel="stylesheet" type="text/css" href="/static/{{template_name}}/css/single-event.css">
<style type="text/css">
	p{
		text-align: left;
	}
</style>
{%for event in event_object%}
<div class="bg-overlay">
  <div class="row text-center">
      <br><br><br>
      <h2><b>
      {{event.title}}
      </b></h2>
  </div>
</div>

<section class="content-builder">
  <div class="container">
      <div class="">
        <div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 eventBack">
          <div class="list-group" style="border-radius:0px;">
            <a href="" class="list-group-item" style="margin-top:20px;">
              <span><h6 class="list-group-item-heading date1"><b>Date:</b></h6></span>
              <span class="dateTime">{{event.date}}</span>
            </a>
           

            <a href="" class="list-group-item">
              <h3 class="list-group-item-heading date1"><b>Detail:</b></h3>
              <br>
              <div class="list-group-item-text description">
              {{event.description|safe}}
              </div>
            </a>
          </div>
        </div>
          <!--end map-->
      </div>
  </div>
</section>
{%endfor%}
{% include template_name+'/footer.html' %} 