<footer id="footer">
  <div class="container">
    <div class="row">    
      <div class="col-xs-12">          
        <center>
          <ul class="nav">
            <li>
            <a href="/">
              <img src="/static/{{template_name}}/images/logo-small.png" class="footer_logo img-responsive brand" style="height:80px;">
            </a>
              All rights reserved | © Copyright 2017 <a href="/" class="right">Emerald Hub</a>
          <br/>

          </ul> 
        </center>
      </div>
    </div><!--/row-->
  </div>
</footer>
<!--script for grid image in single page-->
<script type="text/javascript">
  $('#feature_image').css('display','none');
</script>
</body>
</html>