<footer id="footer">
  <div class="container">
    <div class="row">    
      <div class="col-xs-6 col-sm-6 col-md-3 column"> 
      </div>
      <div class="col-xs-12 col-md-6 column">          
        <center>
          <ul class="nav">
            <li>
            <a href="/">
              <img src="/static/{{template_name}}/images/logo-small.png" class="footer_logo img-responsive brand">
            </a>
            </li>
            <li><a href="#">
                    
            </a></li>
            <li style="font-size:18px;color:white;"><a href="#">
              Contact: (+855) 93316781, (+855) 12207307
            </a></li>
            <li style="font-size:18px;color:white;"><a href="#">
              info@emeraldplus.biz
            </a></li>

          </ul> 
        </center>
      </div>
      <div class="col-xs-6 col-md-6 column">           
      </div>
    </div><!--/row-->
  </div>
</footer>
<!--script for grid image in single page-->
</body>
</html>