<footer id="footer">
  <div class="container">
    <div class="row">    
      <div class="col-xs-6 col-sm-6 col-md-3 column"> 
      </div>
      <div class="col-xs-12 col-md-6 column">          
        <center>
          <ul class="nav">
            <li>
            <a href="/">
              <img src="/static/{{template_name}}/images/logo-small.png" class="footer_logo img-responsive brand" style="width:100px;">
            </a>
            </li>

          </ul> 
        </center>
      </div>
      <div class="col-xs-6 col-md-6 column">           
      </div>
    </div><!--/row-->
  </div>
</footer>
<!--script for grid image in single page-->
<script type="text/javascript">
  $('#feature_image').css('display','none');
</script>
</body>
</html>