{% include template_name+'/header.html' %} 
<style type="text/css">
	p{
		text-align: left;
	}
</style>
<header class="intro-header">
        <div class="container">
            <div class="background" style="background-color: rgba(117, 117, 117, 0.34);"></div>
			<div class="text col-xs-12 col-md-8 col-sm-8 col-lg-6">
				<h2 class="h1-title no" style="">
					<br/><br/><br/>
					Welcome to Emerald HUB
					<br/>
				</h2>
				<center><span class="span-head">Work |</span> 
				<span class="span-head"> Connect | </span> 
				<span class="span-head"> Grow </span></center>

				<p class="p-description no">
				<!-- Emerald HUB is the coworking space for freelancers, startups and entrepreneurs in the center of Phnom Penh.  -->
				</p>
			</div>
        </div>
</header>
<section class="container-fluid bg-space" id="location">
	
</section>

<section class="container-fluid bg-space" style="margin-top:-10px;" id="section4">

	<div class="container " id="events">
		<h1 class="v-center">COMMUNITY</h1>
		<hr>
		{%for post in communties%}
	  	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding ">
  			<a href="/">
	    	<div class="hovereffect">
	        	<img class="img-responsive" src="{{post.feature_image}}" alt="" style="width:100%">
		        <div class="overlay">
		           <h2 class="no">{{post.title}}</h2>
		        </div>
	    	</div>
	    	</a>
		</div>
		{%endfor%}	
	</div>
</section>
<section class="container-fluid bg-space" style="margin-top:-10px;" id="section4">

	<div class="container " id="events">
		{% if events.count > 0 %}
		<h1 class="v-center">EVENT</h1>
		{%endif%}
		<hr>
	  	<!--event -->
	  	{% for event in events %}
				<a href="/{{event.slug}}" target="_blank">
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 border" style="padding: 0px;">
					    	<img src="{{event.feature_image}}" class="img-responsive" style="padding:0px;margin-top: 13px;width:100%">
					</div>
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 border" style="padding: 10px;padding-left:30px">
					   
					    	<h4 class="mytitle">
					    		{{event.title}}
					    	</h4>
					    	<small style="color: #a8a6a6;">
					    		<i class="fa fa-calendar" aria-hidden="true"></i>
						    	<!-- /<span >400$</span> -->
						    	<span>{{event.date}}</span>
						    </small>
						    <br>
					    	<p class="" style="margin-top:5px;text-align:left;color:#000;font-size:17px">
					    		{{event.description|striptags|truncate(600)}}
					    	</p>
					</div>
				</a>
		{%endfor%}
		<!--end event-->
		
	  	<!--end team-->
	</div>
</section>
<section class="container-fluid bg-space" style="margin-top:-10px;" id="section2">
	<div class="container">
		<h1 class="v-center">BLOG</h1>
		<hr>
	  	<div class="row">
	  		{%for post in posts_top%}
	  		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 padding ">
	  			<a href="/{{post.slug}}">
		    	<div class="hovereffect">
		        	<img class="img-responsive" src="{{post.feature_image}}" alt=""  style="width:100%">
			        <div class="overlay">
			           <h2 class="no">{{post.title}}</h2>
			        </div>
		    	</div>
		    	</a>
			</div>
			{%endfor%}
		</div>
	</div>
</section>
<section class="container-fluid bg-space" style="margin-top:-10px;" id="section4">
<div class="container cohub-features">
	<h1 class="v-center">Why choose Emerald Hub?</h1>
	<br>
    <div class="col-md-3">
      <center><i class="fa fa-clock-o fa-5x" aria-hidden="true"></i></center>
      <p><b><center>24 Hours Access</center></b>
      <br/>
       ( Because We live in the different part of the world )
</p>
    </div>
    <div class="col-md-3">
      <center><i class="fa fa-wifi fa-5x" aria-hidden="true"></i></center>
      <p><b><center>High Speed Internet</center></b> <br/> ( Up to 5.5 Mbps for each user ) </p>
    </div>
    <div class="col-md-3">
      <center><i class="fa fa-print fa-5x" aria-hidden="true"></i></center>
      <p><b><center>Printer Machine</center></b> <br/> ( Standing right waiting for you to Print ) </p>
    </div>
    <div class="col-md-3">
      <center><i class="fa fa-retweet fa-5x" aria-hidden="true"></i></center>
      <p><b><center>Greenery Balcony</center></b> <br/>( Breathe fresh air under the clear blue sky ) </p>
    </div>
    <div class="clearfix"></div>
     <div class="col-md-3">
      <center><i class="fa fa-coffee fa-5x" aria-hidden="true"></i></center>
      <p><b><center>Hub Cafe</center> </b><br/>( Satisfy with every Cup of Coffee in the morning ) </p>
    </div>
     <div class="col-md-3">
      <center><i class="fa fa-magic fa-5x" aria-hidden="true"></i></center>
      <p><b><center>Smoking Zone </center></b><br/>( Smoking never be a problem ) 
 	</p>
    </div>
     <div class="col-md-3">
      <center><i class="fa fa-cutlery fa-5x" aria-hidden="true"></i></center>
      <p><b><center>Shared Kitchen </center></b><br/>( Free coffee , tea , hot and cold water )  </p>
    </div>
     <div class="col-md-3">
      <center><i class="fa fa-car fa-5x" aria-hidden="true"></i></center>
      <p><b><center>Wide Parking Lot </center></b><br/>( Parking your vehicles in a fairly large space )  </p>
    </div>
  </div>
</section>

<!--smooth-->
  <script type="text/javascript">
jQuery(document).ready(function() {
  jQuery('.no').addClass("hidden").viewportChecker({
      classToAdd: 'visible animated fadeIn', // Class to add to the elements when they are visible
      offset: 100    
     });   
});            
</script>
<style type="text/css">
	.cohub-features .col-md-3 img{
		vertical-align: middle;
		display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 80px;
	    height:80px;
	    margin-bottom: 20px;
	}
</style>


<style type="text/css">
.carousel-control {
  padding-top:10%;
  width:5%;
}
</style>


    <div class="col-md-12" style="background-color: #fff; margin-bottom: 15px;">
            <div id="myCarousel" class="carousel slide">
                
                <!-- Carousel items -->
                <h1 class="v-center">Partners</h1>
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row">
                        {%for partner in partners%}
                            <div class="col-sm-2 col-xs-6"><a href="{{partner.url}}">
                            <img src="{{partner.feature_image}}" alt="Image" class="img-responsive"></a>
                            </div>
                        {%endfor%}
                        </div>
                        <!--/row-->
                    </div>
                </div>
                <!--/carousel-inner--> <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>
            <!--/myCarousel-->
            <div style="height:10px;"></div>
    </div>


<script type="text/javascript">

$(document).ready(function() {
	$('#myCarousel').carousel({
	interval: 10000
	})
    
    $('#myCarousel').on('slid.bs.carousel', function() {
    	//alert("slid");
	});
    
    
});



</script>

 

<!-- Include js plugin -->
<script type="text/javascript" src="/static/{{template_name}}/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript" src="/static/{{template_name}}/js/jquery-3.1.0.min.js"></script> -->
<script type="text/javascript" src="/static/{{template_name}}/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/{{template_name}}/js/custom.js"></script>
{% include template_name+'/footer.html' %} 