{% include template_name+'/header.html' %} 
<link rel="stylesheet" type="text/css" href="/static/{{template_name}}/css/location-single.css">
<div class="contact-info">
	{% for location in location_object %}
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<h3 class="add-contact">Address</h3>
				<!-- <br> -->
				<label class="show-label">
					{{location.address}} <br/>
				</label>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<h3 class="add-contact">Working Hours</h3>
				<!-- <br> -->
				<label class="show-label">
					{{location.hour}}
				</label>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<h3 class="add-contact">CONTACT</h3>
				<!-- <br> -->
				<label class="show-label">
					{{location.contact}}
				</label>
			</div>
			<!-- <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
				<h3 class="add-contact">PRICE</h3>
				<label class="show-label">
					200$
				</label>
			</div> -->
		</div>
	</div>
</div>
<div style="height:20px;"></div>
<section class="container-fluid bg-space">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-top-container">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-top">
			<img src="{{location.feature_image1}}" class="img-responsive" style="width:100%">
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 padding-top">
		<img src="{{location.feature_image2}}" class="img-responsive" style="width:100%">
		</div>
	</div>
	<!--booking-->
	<div style="clear:both;">
		<div class="container">
			<div class="row">
				<center>
					<!-- <br> -->
					<br>
					<label class="show-label" data-toggle="modal" data-target="#myModal">
						<button class="btn btn-warning" class="btn-book">BOOK</button>
					</label>
				</center>
			</div>
		</div>
	</div>
	<!--modal Book-->
		        	<div class="modal fade" id="myModal">
						<div class="modal-dialog">
						    <div class="modal-content">
						      <div class="modal-header">
						        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						      </div>
						      <div class="modal-body">
						        <form class="form-horizontal" id="frm">
						        	{{ form.hidden_tag() }}
									<fieldset>
									    <legend>
									    	<center>
									    		Fill in form for booking
									    	</center>
									    </legend>
									    <div class="form-group">
									      <div class="col-lg-12">
									       <!--  <input class="form-control border-form" required="" id="inputName" placeholder="Your name" type="text"> -->
									       {{ form.name(class_="form-control border-form",placeholder="Name") }}
									      </div>
									    </div>
									    <div class="form-group">
									      <div class="col-lg-12">
									        <!-- <input class="form-control border-form" required="" id="inputEmail" placeholder="Your Email" type="email">
									         -->
									         {{ form.email(class_="form-control border-form",placeholder="Email") }}
									      </div>
									    </div>
									    <div class="form-group">
									      <div class="col-lg-12">
									        {{ form.phone(class_="form-control border-form",placeholder="Phone") }}
									      </div>
									    </div>
									    <div class="col-sm-12" style="margin-bottom:10px;">
										    <i class="alert" style="display:none;">
										    </i>
									    </div>
									    <div class="form-group">
									      <div class="col-lg-12">
									        <button type="reset" class="btn btn-default">Cancel</button>
									        <button type="button" class="btn btn-book btn-primary">Book
									        </button>
									      </div>
									    </div>
									
									</fieldset>
								</form>
						      </div>
						  
						    </div><!-- /.modal-content -->
						</div><!-- /.modal-dialog -->
					</div><!-- /.modal -->
				</div>
		<!--end modal Book-->
	<!--end booking info-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
		<h1 class="add-contact">Amenities</h1>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<center>
				<h3 class="fa-title">
					<i class="fa fa-wifi" aria-hidden="true"></i>
					WIFI
				</h3>
			</center>
			<p class="fa-p">
				High-speed, mega stable fiber-optic network available both wired and wireless.
			</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<center>
				<h3 class="fa-title">
					<i class="fa fa-users" aria-hidden="true"></i>
					COMMUNITY
				</h3>
			</center>
			<p class="fa-p">
				Meet friends, collaborate on projects, or simply bounce ideas off of each other.
			</p>

		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<center>
				<h3 class="fa-title">
					<i class="fa fa-print" aria-hidden="true"></i>
					PRINT/SCAN/COPY
				</h3>
			</center>
			<p class="fa-p">
				Meet friends, collaborate on projects, or simply bounce ideas off of each other.
			</p>

		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<center>
				<h3 class="fa-title">
					<i class="fa fa-table" aria-hidden="true"></i>
					AIR CONDITIONER/ TABLE
				</h3>
			</center>
			<p class="fa-p">
				Participate in member lunches, dynamic workshops, member-run Meetups, and a weekly happy hour at precisely 3:58pm.
			</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<center>
				<h3 class="fa-title">
					<i class="fa fa-coffee" aria-hidden="true"></i>
					COFFEETERIA/ MEETING ROOM
				</h3>
			</center>
			<p class="fa-p">
				Participate in member lunches, dynamic workshops, member-run Meetups, and a weekly happy hour at precisely 3:58pm.
			</p>
		</div>
		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
			<center>
				<h3 class="fa-title">
					<i class="fa fa-key" aria-hidden="true"></i>
					SECURITY/ CLEANER
				</h3>
			</center>
			<p class="fa-p">
				Participate in member lunches, dynamic workshops, member-run Meetups, and a weekly happy hour at precisely 3:58pm.
			</p>
		</div>
	</div>
</section>

<script type="text/javascript">
	function clearControls(){
		document.getElementById("frm").reset();
	}
	$(".btn-book").click(function(){
		$(".alert").removeClass("alert-danger");
		var name=$("#name").val();
		var email=$("#email").val();
		var phone=$("#phone").val();
		var dt=[];
		dt[0]=name;
		dt[1]=email;
		dt[2]=phone;
		dt[3]=1;
		dt[4]=parseInt("{{location.id}}");
		if(name==''){
			$('.alert').addClass('alert-danger');
		    $('.alert').html("Name is required");
		    $('.alert').css("display",'block')
		}
		else if(email==''){
			$('.alert').addClass('alert-danger');
		    $('.alert').html("Email is required");
		    $('.alert').css("display",'block')
		}
		else if(email.indexOf("@")<1&&email.indexOf(".")<2){
			$('.alert').addClass('alert-danger');
		    $('.alert').html("Your email is not valid");
		    $('.alert').css("display",'block')
		}
		else{
			$.ajax({
			   type: "POST",
			   url: "/add/booking/ajax/",
			   data: {json_str:JSON.stringify(dt)},
			   success: function(msg){
			     $('.alert').addClass('alert-success');
			     $('.alert').html(msg);
			     $('.alert').css("display",'block');
			     clearControls();
			   },
			   error:function(msg){
			   	$('.alert').addClass('alert-danger');
			     $('.alert').html(msg);
			     $('.alert').css("display",'block');
			   }
			   // dataType: "json"
			});
		}
		
	});
</script>
{%endfor%}
{% include template_name+'/footer.html' %} 