{% include template_name+'/header.html' %} 
<style type="text/css">
	p{
		text-align: left;
	}
	h3{
		font-size: 23px;
		font-weight: 600;
		text-align: left;
		color: #F29B34;
	}
	.about p {
	    font-size: 20px;
	    padding-bottom: 1em;
	    text-align: left;
	    color:black;
	}
</style>
<!-- <section class="container-fluid bg-space" > -->
	{%for page in page_object%}
	<section class="" >
		<div class="container" style="max-width: 960px;">
			<div class="hidden-xs col-md-2 col-lg-2 col-sm-2"></div>
			<div class="col-md-12 col-lg-12 col-sm-12" style="padding: 0px;">
			<h1 class="v-center v-center1 " style="margin:0px;">{{page.title}}</h1>
				<center><hr class="hrTitle"></center>
				<br>
				<div class="backgroungColor">
					<p class="description" style="margin: 0px;">{{page.description|safe}} </p>
				</div>
			</div>
		</div>
		{%if page.title=="ABOUT US"%}
			<center>
				<label class="show-label" data-toggle="modal" data-target="#myModal">
					<!-- <button class="btn btn-warning" class="btn-book" style="width:120px;height:50px;border-radius:2px;">
					<i class="fa fa-calendar" aria-hidden="true"></i> BOOK NOW
					</button> -->
				</label>
			</center>

			<!--modal Book-->
        	<div class="modal fade" id="myModal">
				<div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
				      </div>
				      <div class="modal-body">
				        <form class="form-horizontal" id="frm">
							<fieldset>
							    <legend>
							    	<center>
							    		Fill in form for booking
							    	</center>
							    </legend>
							    <div class="col-sm-12" style="margin-bottom:10px;">
								    <i class="alert" style="display:none;">
								    </i>
							    </div>
							    <div class="form-group">
							      <div class="col-lg-12">
							       <!--  <input class="form-control border-form" required="" id="inputName" placeholder="Your name" type="text"> -->
							       {{ form.name(class_="form-control border-form",placeholder="Name") }}
							      </div>
							    </div>
							    <div class="form-group">
							      <div class="col-lg-12">
							        <!-- <input class="form-control border-form" required="" id="inputEmail" placeholder="Your Email" type="email">
							         -->
							         {{ form.email(class_="form-control border-form",placeholder="Email") }}
							      </div>
							    </div>
							    <div class="form-group">
							      <div class="col-lg-12">
							        {{ form.phone(class_="form-control border-form",placeholder="Phone") }}
							      </div>
							    </div>
							    
							    <div class="form-group">
							      <div class="col-lg-12">
							        <!-- <input class="form-control border-form" required="" id="inputEmail" placeholder="Your Email" type="email">
							         -->
							         {{ form.description(class_="form-control border-form",placeholder="Detail") }}
							      </div>
							    </div>
							    <div class="form-group">
							      <div class="col-lg-12">
							        <button type="reset" class="btn btn-default">Cancel</button>
							        <button type="button" class="btn btn-book btn-primary">Book
							        </button>
							      </div>
							    </div>
							
							</fieldset>
						</form>
				      </div>
				  
				    </div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->
		</div>
<!--end modal Book-->




<div class="col-sm-12"></div>
  	<!--Team-->
	<div class="row" id="members">
		<h1 class="v-center v-center1 ">TEAM Members</h1>
		<center><hr class="hrTitle"></center>
	<!--box for team-->
	<br>
	<div class="container" style="max-width: 960px;">
		<div class="backgroungColor1">
		<div class="row">
			{%set help=0 %}
			{%for member in members%}
				<!-- <a href="#"> -->
				<a href="/member/{{member.slug}}">
					{%set help=help+1%}
		        	{%if help==4%}
		        		<div class="clearfix"></div>
		        		{%set help=1%}
		        	{%endif%}
			        <div class="col-sm-3 col-xs-12 no" style="padding: 10px;">
			        	{%if member.feature_image==''%}
	                		 <img src="/static/images/no profile.png" alt="" style="width:100%;" />
	                	{%else%}
		                    <img src="{{member.feature_image}}" alt=""  style="width:100%;"/>
	                    {%endif%}
			           	<div class="testimonial-writer-name" style="position:absolute;margin-top:-40px;background-color:#444B54;color:white;padding:5px;font-size: 18px">
			           		{{member.name}}
			           	</div>
					</div>
				</a>
			{%endfor%}
		</div>
		</div>
		<div style="height:10px;"></div>
	</div>
	<!--end box team-->
	</div>




			  	<script type="text/javascript">
	function clearControls(){
		document.getElementById("frm").reset();
	}
	$(".btn-book").click(function(){
		$(".alert").removeClass("alert-danger");
		var name=$("#name").val();
		var email=$("#email").val();
		var phone=$("#phone").val();
		var description=$("#description").val();
		var dt=[];
		dt[0]=name;
		dt[1]=email;
		dt[2]=phone;
		dt[3]=1;
		dt[4]=1;
		dt[5]=description;
		if(name==''){
			$('.alert').addClass('alert-danger');
		    $('.alert').html("Name is required");
		    $('.alert').css("display",'block')
		}
		else if(email==''){
			$('.alert').addClass('alert-danger');
		    $('.alert').html("Email is required");
		    $('.alert').css("display",'block')
		}
		else if(email.indexOf("@")<1&&email.indexOf(".")<2){
			$('.alert').addClass('alert-danger');
		    $('.alert').html("Your email is not valid");
		    $('.alert').css("display",'block')
		}
		else{
			$.ajax({
			   type: "POST",
			   url: "/add/booking/ajax/",
			   data: {json_str:JSON.stringify(dt)},
			   success: function(msg){
			     $('.alert').addClass('alert-success');
			     $('.alert').html(msg);
			     $('.alert').css("display",'block');
			     clearControls();
			   },
			   error:function(msg){
			   	$('.alert').addClass('alert-danger');
			     $('.alert').html(msg);
			     $('.alert').css("display",'block');
			   }
			   // dataType: "json"
			});
		}
		
	});
</script>
		{%endif%}
	</section>
	{%endfor%}
<br>

<footer id="footer">
  <div class="container">
    <div class="row">    
      <div class="col-xs-12">          
        <center>
          <ul class="nav">
            <li>
            <a href="/">
              <img src="/static/{{template_name}}/images/logo-small.png" class="footer_logo img-responsive brand" style="height:70px;">
            </a>
              All rights reserved | © Copyright 2017 <a href="/" class="right">Emerald Hub</a>
          <br/>

          </ul> 
        </center>
      </div>
    </div><!--/row-->
  </div>
</footer>
<!--script for grid image in single page-->
<script type="text/javascript">
  $('#feature_image').css('display','none');
</script>
</body>
</html>


