{% include template_name+'/header.html' %} 

<body>
<br>
<div class="container" style="overflow-x:auto;">
  <table>
    <tr class="title-tr">
      <th style="text-align:center">Type </th>
      <th>Shared Desk </th>
      <th>Fixed Desk</th>
      <th>Team Desk </th>
      <th>Team Desk </th>
      <th>Team Desk</th>
      <th>Private office </th>
      <th>Day Pass</th>
      <th>Weekend (Sat-Sun)</th>
      <th>Weekday (4H/Day)</th>
      <th colspan="2">Training Room </th>

    </tr>
    <tr class="title-under">
      <td></td>
      <td></td>
      <td></td>
      <td>Small Size</td>
      <td>Medium Size</td>
      <td>Big Size</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Half Day</td>
      <td>Full Day</td>

    </tr>
    <tr>
      <td>Price: </td>
      <td>$75.00</td>
      <td>$110.00</td>
      <td>$110.00</td>
      <td>$132.00</td>
      <td>$165.00</td>
      <td>from $250-$550</td>
      <td>$7.00</td>
      <td>$40.00</td>
      <td>$40.00</td>
      <td>$80.00</td>
      <td>$150.00</td>
    </tr>
    <tr>
      <td>Allow #person </td>
      <td>1</td>
      <td>1</td>
      <td>1-2</td>
      <td>2-3</td>
      <td>3-4</td>
      <td>3-5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>70-90</td>
      <td>70-90</td>
    </tr>
    <tr>
      <td>Additional team member</td>
      <td>$55.00</td>
      <td>-</td>
      <td>$55.00</td>
      <td>$55.00</td>
      <td>$55.00</td>
      <td>$55.00</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>High speed Internet </td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
    </tr>
    <tr>
      <td>Ari-conditioner  </td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
    </tr>
    <tr>
      <td>Free Hot-Cold water</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
    </tr>
    <tr>
      <td>Locker </td>
      <td>-</td>
      <td>√</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>√</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Meeting Room - Limited</td>
      <td>-</td>
      <td>-</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>"Company address 
Additional charge 50$/month"</td>
      <td>-</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Mail address </td>
      <td>-</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Mentorship </td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>-</td>
      <td>√</td>
      <td>√</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Free Training/Workshop</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Free Join Startup Party</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Desk Size: 1.2m x 0.8m</td>
      <td>Desk Size: 2m x 0.8m</td>
      <td>Desk Size: 2.2m x 0.8m</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

  </table>
</div>
<br>

{% include template_name+'/footer.html' %} 