{% include template_name+'/header.html' %} 

<body>
<br>
<div class="container" style="overflow-x:auto;">
  <table>
    <tr>
      <th></th>
      <th>Day pass</th>
      <th>CountryWeekend</th>
      <th>Weekday ( Part time )</th>
      <th>Weekday( full time )</th>
      <th>Whole week</th>
      <th>Small Meeting room</th>
      <th>Big Meeting room</th>

    </tr>
    <tr>
      <td>Price: </td>
      <td>$7</td>
      <td>$30</td>
      <td>$30</td>
      <td>$75</td>
      <td>$100</td>
      <td>$80</td>
      <td>$150</td>
    </tr>
    <tr>
      <td>Community: </td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>High speed internet: </td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
    </tr>
    <tr>
      <td>Air-conditioner: </td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
    </tr>
    <tr>
      <td>Free coffee/tea: </td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Locker: </td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Suggest meeting room: </td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Company address: </td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Mail address: </td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>
    <tr>
      <td>Mentorship: </td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
    </tr>
    <tr>
      <td>Free training /workshop: </td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
      <td>√</td>
    </tr>
    <tr>
      <td>Free ticket for party and gathering: </td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
    </tr>

  </table>
</div>
<br>

{% include template_name+'/footer.html' %} 