{% include template_name+'/header.html' %} 
<style type="text/css">
	p{
		text-align: left;
	}
</style>
<br>
<div class="contact">
	<div class="container">
		<div class="row indexBack">
      	{%for post in post_object %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 15px 80px;">
          <h5 style="color:#dd9933; font-weight: bold; font-size: 20px; text-align: center; margin: 0px;">
          {{post.title}}
          <center><hr class="hrTitle"></center>
          </h5>
          <p style="margin-top: 15px;">
          {{post.description|safe}}
          </p>

          <br><br>
          <!--grid image post-->
          <div id="gallery2"></div>
          <!--end grid image post-->

        </div>
    </div>
</div>
</div>
<br>
<script>
   var img ="{{post.images}}";
      var images=img.split("$$$$$");
      // var temp='';
      for(var i=0;i<images.length;i++){
        // alert(i);
        if(images[i]!='')
          images[i]="/static/images/images/"+images[i];
      }
  $(function() {
      $('#gallery2').imagesGrid({
          images: images.slice(0, 5)
      });

  });

</script>
{%endfor%}
{% include template_name+'/footer.html' %} 